{
  "presets": [
    [
      "env",
      {
        "targets": { "browsers": [ "last 2 versions", "> 5%" ] },
        "modules": false
      }
    ]
  ],
  "plugins": [ "external-helpers" ],
  "env": {
    "development": {
      "sourceMaps": "inline",
      "plugins": [ "transform-runtime" ],
      "presets": [
        [
          "env",
          {
            "modules": "commonjs"
          }
        ]
      ]
    }
  }
}
