{
  "parser": "babel-eslint",
  "extends": [
    "prettier"
  ],
  "plugins": [
    "prettier"
  ],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "printWidth": 100,
        "singleQuote": true,
        "trailingComma": "all"
      }
    ]
  },
  "env": {
    "browser": true,
    "node": true
  }
}
